.Button {
display: inline-flex;
border-radius: 28px;
padding: 10px 15px;
max-width: 150px;
width: 100%;
background: #6A5DC2;
border-radius: 28px;
border: none;
justify-content: center;
align-items: center;
gap: 12px;
font-family: 'Play';
font-weight: 700;
font-size: 15px;
line-height: 133%;
color: #e5e5e5;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
transition: all .3s ease-in-out;
}

.Button:hover {
 background-color: rgb(214, 210, 241);
 color: #000;
}

.Button:focus,
.Button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.Button.done {
  max-width: 100px;
  border: none;
  background: green;
  color: #fff;
  outline: none;
}

.Button.primary[disabled] {
  background: #e5e5e5;
  border: #e5e5e5;
  color: #fff;
}

.Button.delete {
  max-width: 100px;
  background: red;
  border: #e5e5e5;
  color: #fff;
  outline: none;
}

.Button.done:hover {
  background-color: rgb(214, 210, 241);
}

.Button.delete:hover {
  background-color: rgb(214, 210, 241);
}


