.calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    max-width: 350px;
    width: 100%;
}

.calendar__list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 20px;
    border-radius: 20px;
    background-color: bisque;
    box-shadow: 1px 1px 15px  black;
}

.calendar__item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-weight: 700;
  border: transparent;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.calendar__item:nth-child(7n - 1) {
  background-color: rgba(255, 0, 0, 0.507);
}

.calendar__item:nth-child(7n) {
  background-color: rgba(255, 0, 0, 0.507);
}

.calendar__item.clalendar__day-item {
  background-color: transparent;
  pointer-events: none;
}

.calendar__item:hover:not(.item-grey){
    transform: scale(1.15);
}

.calendar__item.item-grey {
    background-color: grey;
    cursor: default;
}

.calendar__day-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0;
  list-style: none;
  padding: 0;
}

.calendar__todo {
  position: absolute;
  width: 8px;
  height: 8px;
  right: 5px;
  bottom: 5px;
  border-radius: 100%;
  background-color: green;
}

.calendar__todo.weekend {
  background-color: white;
}

.week__wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 70px;
}

.week__list {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  width: 100%;
  padding: 0;
}

.week__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 320px;
  height: 20px;
  font-weight: 700;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  opacity: 0;
}

.week__item.last-week-1 {
  width: 20px;
}

.week__item.last-week-2 {
  width: 70px;
}

.week__item.last-week-3 {
  width: 120px;
}

.week__item.last-week-4 {
  width: 170px;
}

.week__item.last-week-5 {
  width: 220px;
}

.week__item.last-week-6 {
  width: 270px;
}

.week__item.last-week-7 {
  width: 320px;
}

.week__item:hover {
    background-color: rgba(73, 61, 61, 0.4);
    opacity: 1;
}

@media (max-width: 410px) {
  .calendar__item {
    padding: 5px;
    width: 29px;
    height: 29px;
    font-weight: 500;
    border-radius: 10px;
  }
}

@media (max-width: 375px) {
  .calendar__item {
    padding: 5px;
    width: 25px;
    height: 25px;
    font-weight: 500;
    border-radius: 10px;
  }
}

@media (max-width: 368px) {
  .calendar__item {
    padding: 5px;
    width: 18px;
    height: 18px;
    font-weight: 500;
    border-radius: 10px;
  }

  .calendar__todo {
    width: 5px;
    height: 5px;
  }
}
