.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.auth-form__wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.auth-form__input{
  padding: 35px;
  text-align: center;
  background-color: aqua;
  border: 1px solid grey;
}
